$primary: #901C1C;
$secondary: #D3573C;
$greylight: #FAFAFA;
$greydrak: #525252;

/*------------------------------------- INDEX ----------------------------------*/

body {
    font-family: "DM Sans", sans-serif;
    width: 100%;
    
}

.fisheye__logo {
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#body__index {
    header {
        display: flex;
        nav {
            width: 500px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            a {
                background-color: #DB8876;
                color: black;
                text-decoration: none;
                border-radius: 5px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
            .nav__hashtag {
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                font-size: 12px;
                p {
                    border: 0.5px solid #C4C4C4;
                    border-radius: 11px;
                    padding-left: 4px;
                    padding-right: 4px;
                    color: $primary;
                }
            }
        }
    }
}


.main__index {
    position: relative;
    margin-top: 60px;
    h1 {
        font-size: 36px;
        font-weight: 400;
        color: $primary;
        position: absolute;
        top: -130px;
        right: 117px;
    }
    #photographer__grid {
        height: 950px;  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;      
        .photographer__cell {            
            width: 500px;
            .photographer__portrait {
                width: 200px;
                height: 200px;
                border: 1px solid transparent;
                border-radius: 200px;
                object-fit: cover;
                margin: auto;
                display: block;
            }
            .photographer__name {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 2px;
                a {
                    text-decoration: none;
                    font-size: 36px;
                    font-weight: 500;
                    color: $secondary;
                }
            }
            .photographer__location {
                text-align: center;
                font-size: 13px;
                color: $primary;
                margin: 2px;
            }
            .photographer__country {
                text-align: center;
                font-size: 13px;
                color: $primary;
                margin: 2px;
            }
            .photographer__tagline {
                text-align: center;
                font-size: 10px;
                margin: 2px;
            }
            .photographer__price {
                text-align: center;
                font-size: 9px;
                color: #757575;
                margin: 2px;
            }
            .photographer__tags {
                text-align: center;
                a {                   
                    display: inline;
                    font-size: 12px;
                    font-weight: 500;
                    color: $primary;
                    border: 0.5px solid #C4C4C4;
                    border-radius: 11px;
                    box-sizing: border-box;
                    padding-left: 4px;
                    padding-right: 4px;
                }
            } 
        }
    }
}

/*------------------------------PHOTOGRAPHE PAGE--------------------------------*/


.body__profile {
    width: 1440px;
    height: 5000px;
    margin-left: auto;
    margin-right: auto;
    header {
        display: flex;
        justify-content: flex-start;
    }
    main {
        
        #photographer__profile {
            width: 1240px;
            height: 313px;
            background-color: $greylight;
            margin: auto;   
            position: relative;   
                &__name {
                    font-weight: 400;
                    font-size: 64px;
                    color: $secondary;
                    margin: 0px;
                    position: absolute;
                    top: 56px;
                    left: 50px;                    
                }
                &__location {
                    font-weight: 400;
                    font-size: 24px;
                    color: $primary;
                    margin: 0px;
                    position: absolute;
                    top: 139px;
                    left: 50px;
                }
                &__tagline {
                    font-weight: 400;
                    font-size: 18px;
                    color: $greydrak;
                    margin: 0px;
                    position: absolute;
                    top: 189px;
                    left: 50px;
                    
                }
                &__tags {
                    display: flex;
                    margin: 0px;
                    position: absolute;
                    top: 231px;
                    left: 47px;
                    
                    p {
                        border: 0.5px solid #C4C4C4;
                        border-radius: 12px;
                        color: $primary;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            
            button {
                background-color: $primary;
                color: white;
                margin: 0px;
                font-weight: 700;
                font-size: 20px;
                width: 170px;
                height: 69px;
                position: absolute;
                top: 63px;
                left: 450px;
                border-radius: 5px;
                border: transparent;
                
            }
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 200px;
                position: absolute;
                top: 60px;
                right: 50px;
            }
        }
        #gallery {
            display: grid;
            grid-template-columns: 350px 350px 350px;
            grid-column-gap: 95px;
            .gallery__media {
                &__image {
                    width: 350px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
    
    /*----------------------------LIGHTBOX------------------------------*/
    
    #lightbox {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        display: none;
        &__body {
            background-color: white;
        }         
    }

    #lightbox__body__media-img {
        height: 500px;
        width: 500px;
    }

/*------------------------------FORMULAIRE CONTACT-------------------------*/

#contact {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    display: none;    
    &__form {
        position: relative;
        width: 669px;
        height: 900px;
        background-color: #DB8876;
        box-shadow: 5px 5px black;
        margin: auto;
        padding: 35px;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 64px;
            font-weight: 400;
        }
        &__photographer {
            font-size: 64px;
            font-weight: 400;
        }
        &__closebtn {
            position: absolute;
            top: 35px;
            right: 35px;
            font-size: 42px;
            color: white;
        }
        &__firstname__label {
            font-size: 36px;
        }
        &__firstname__input {
            font-size: 36px; 
            width: 599px;
            height: 68px;
            font-weight: 400;
            border-radius: 5px;
            border: transparent;
        }
        &__lastname__label {
            font-size: 36px;
        }
        &__lastname__input {
            font-size: 36px;
            width: 599px;
            height: 68px;
            border-radius: 5px;
            font-weight: 400;
            border: transparent;
        }
        &__email__label {
            font-size: 36px;
        }
        &__email__input {
            font-size: 36px;
            width: 599px;
            height: 68px;
            border-radius: 5px;
            font-weight: 400;
            border: transparent;
        }
        &__message__label {
            font-size: 36px;
        }
        &__message__input {
            font-size: 36px;
            width: 599px;
            height: 170px;
            border-radius: 5px;
            font-weight: 400;
            border: transparent;
        }
        &__submitbtn {
            font-size: 18px;
            font-weight: 700;
            color: white;
            background-color: #911C1C;
            width: 170px;
            height: 69px;
            border-radius: 5px;
            margin-top: 26px;
            border: transparent;
        }
    }    


}


/*---------------------------------FOOTER-------------------------------------*/
    .footer__profile {
        display: flex;
        justify-content: space-between;
        background-color: $secondary;
        color: black;
        width: 376px;
        height: 89px;
    }
}
