/*------------------------------------- INDEX ----------------------------------*/
body {
  font-family: "DM Sans", sans-serif;
  width: 100%;
}

.fisheye__logo {
  width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#body__index header {
  display: flex;
}
#body__index header nav {
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
#body__index header nav a {
  background-color: #DB8876;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#body__index header nav .nav__hashtag {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
}
#body__index header nav .nav__hashtag p {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding-left: 4px;
  padding-right: 4px;
  color: #901C1C;
}

.main__index {
  position: relative;
  margin-top: 60px;
}
.main__index h1 {
  font-size: 36px;
  font-weight: 400;
  color: #901C1C;
  position: absolute;
  top: -130px;
  right: 117px;
}
.main__index #photographer__grid {
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.main__index #photographer__grid .photographer__cell {
  width: 500px;
}
.main__index #photographer__grid .photographer__cell .photographer__portrait {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
}
.main__index #photographer__grid .photographer__cell .photographer__name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__name a {
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  color: #D3573C;
}
.main__index #photographer__grid .photographer__cell .photographer__city {
  text-align: center;
  font-size: 13px;
  color: #901C1C;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__country {
  text-align: center;
  font-size: 13px;
  color: #901C1C;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__tagline {
  text-align: center;
  font-size: 10px;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__price {
  text-align: center;
  font-size: 9px;
  color: #757575;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__tags {
  text-align: center;
}
.main__index #photographer__grid .photographer__cell .photographer__tags a {
  display: inline;
  font-size: 12px;
  font-weight: 500;
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
}

/*------------------------------PHOTOGRAPHE PAGE--------------------------------*/
.body__profile {
  width: 1440px;
  height: 5000px;
}
.body__profile header {
  display: flex;
  justify-content: flex-start;
}
.body__profile main #photographer__profile {
  width: 1240px;
  height: 313px;
  background-color: #FAFAFA;
  margin: auto;
}
.body__profile main #photographer__profile__name {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
}
.body__profile main #photographer__profile__city {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.body__profile main #photographer__profile__country {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.body__profile main #photographer__profile__tagline {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
}
.body__profile main #photographer__profile__tags {
  display: flex;
}
.body__profile main #photographer__profile__tags p {
  border: 0.5px solid #C4C4C4;
  border-radius: 12px;
  color: #901C1C;
  font-weight: 500;
  font-size: 18px;
}
.body__profile main #photographer__profile button {
  background-color: #901C1C;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 170px;
  height: 69px;
}
.body__profile main #photographer__profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
}
.body__profile .main__profile .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.body__profile .main__profile .flex .media__img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.body__profile .main__profile .flex .media__text {
  display: flex;
  justify-content: space-between;
}
.body__profile .main__profile .flex .media__text__title {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.body__profile .main__profile .flex .media__text__price {
  font-weight: 500;
  font-size: 24px;
  color: #901C1C;
}
.body__profile .main__profile .flex .media__text__like {
  font-weight: 500;
  font-size: 24px;
  color: #901C1C;
}
.body__profile .footer__profile {
  display: flex;
  justify-content: space-between;
  background-color: #D3573C;
  color: black;
  width: 376px;
  height: 89px;
}

/*# sourceMappingURL=style.css.map */
