/*------------------------------------- INDEX ----------------------------------*/
body {
  font-family: "DM Sans", sans-serif;
  width: 100%;
}

.fisheye__logo {
  width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#body__index header {
  display: flex;
}
#body__index header nav {
  width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
#body__index header nav a {
  background-color: #DB8876;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#body__index header nav .nav__hashtag {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
}
#body__index header nav .nav__hashtag p {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding-left: 4px;
  padding-right: 4px;
  color: #901C1C;
}

.main__index {
  position: relative;
  margin-top: 60px;
}
.main__index h1 {
  font-size: 36px;
  font-weight: 400;
  color: #901C1C;
  position: absolute;
  top: -130px;
  right: 117px;
}
.main__index #photographer__grid {
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.main__index #photographer__grid .photographer__cell {
  width: 500px;
}
.main__index #photographer__grid .photographer__cell .photographer__portrait {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
}
.main__index #photographer__grid .photographer__cell .photographer__name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__name a {
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  color: #D3573C;
}
.main__index #photographer__grid .photographer__cell .photographer__location {
  text-align: center;
  font-size: 13px;
  color: #901C1C;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__country {
  text-align: center;
  font-size: 13px;
  color: #901C1C;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__tagline {
  text-align: center;
  font-size: 10px;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__price {
  text-align: center;
  font-size: 9px;
  color: #757575;
  margin: 2px;
}
.main__index #photographer__grid .photographer__cell .photographer__tags {
  text-align: center;
}
.main__index #photographer__grid .photographer__cell .photographer__tags a {
  display: inline;
  font-size: 12px;
  font-weight: 500;
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
}

/*------------------------------PHOTOGRAPHE PAGE--------------------------------*/
.body__profile {
  width: 1440px;
  height: 5000px;
  margin-left: auto;
  margin-right: auto;
  /*----------------------------LIGHTBOX------------------------------*/
  /*------------------------------FORMULAIRE CONTACT-------------------------*/
  /*---------------------------------FOOTER-------------------------------------*/
}
.body__profile header {
  display: flex;
  justify-content: flex-start;
}
.body__profile main #photographer__profile {
  width: 1240px;
  height: 313px;
  background-color: #FAFAFA;
  margin: auto;
  position: relative;
}
.body__profile main #photographer__profile__name {
  font-weight: 400;
  font-size: 64px;
  color: #D3573C;
  margin: 0px;
  position: absolute;
  top: 56px;
  left: 50px;
}
.body__profile main #photographer__profile__location {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
  margin: 0px;
  position: absolute;
  top: 139px;
  left: 50px;
}
.body__profile main #photographer__profile__tagline {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
  margin: 0px;
  position: absolute;
  top: 189px;
  left: 50px;
}
.body__profile main #photographer__profile__tags {
  display: flex;
  margin: 0px;
  position: absolute;
  top: 231px;
  left: 47px;
}
.body__profile main #photographer__profile__tags p {
  border: 0.5px solid #C4C4C4;
  border-radius: 12px;
  color: #901C1C;
  font-weight: 500;
  font-size: 18px;
}
.body__profile main #photographer__profile button {
  background-color: #901C1C;
  color: white;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  width: 170px;
  height: 69px;
  position: absolute;
  top: 63px;
  left: 450px;
  border-radius: 5px;
  border: transparent;
}
.body__profile main #photographer__profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
  position: absolute;
  top: 60px;
  right: 50px;
}
.body__profile main #gallery {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-column-gap: 95px;
}
.body__profile main #gallery .gallery__media__image {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.body__profile main #gallery .gallery__media__video {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.body__profile #lightbox {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  display: none;
}
.body__profile #lightbox__body {
  background-color: white;
}
.body__profile #lightbox__body__media__video {
  height: 500px;
  width: 500px;
}
.body__profile #lightbox__body__media__img {
  height: 500px;
  width: 500px;
}
.body__profile #contact {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  display: none;
}
.body__profile #contact__form {
  position: relative;
  width: 669px;
  height: 900px;
  background-color: #DB8876;
  box-shadow: 5px 5px black;
  margin: auto;
  padding: 35px;
  display: flex;
  flex-direction: column;
}
.body__profile #contact__form h1 {
  font-size: 64px;
  font-weight: 400;
}
.body__profile #contact__form__photographer {
  font-size: 64px;
  font-weight: 400;
}
.body__profile #contact__form__closebtn {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 42px;
  color: white;
}
.body__profile #contact__form__firstname__label {
  font-size: 36px;
}
.body__profile #contact__form__firstname__input {
  font-size: 36px;
  width: 599px;
  height: 68px;
  font-weight: 400;
  border-radius: 5px;
  border: transparent;
}
.body__profile #contact__form__lastname__label {
  font-size: 36px;
}
.body__profile #contact__form__lastname__input {
  font-size: 36px;
  width: 599px;
  height: 68px;
  border-radius: 5px;
  font-weight: 400;
  border: transparent;
}
.body__profile #contact__form__email__label {
  font-size: 36px;
}
.body__profile #contact__form__email__input {
  font-size: 36px;
  width: 599px;
  height: 68px;
  border-radius: 5px;
  font-weight: 400;
  border: transparent;
}
.body__profile #contact__form__message__label {
  font-size: 36px;
}
.body__profile #contact__form__message__input {
  font-size: 36px;
  width: 599px;
  height: 170px;
  border-radius: 5px;
  font-weight: 400;
  border: transparent;
}
.body__profile #contact__form__submitbtn {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #911C1C;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-top: 26px;
  border: transparent;
}
.body__profile .footer__profile {
  display: flex;
  justify-content: space-between;
  background-color: #D3573C;
  color: black;
  width: 376px;
  height: 89px;
}

/*# sourceMappingURL=style.css.map */
